/* --------- Main CSS --------- */

body {
  background-color: #e6e5e1;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  height: auto;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 25px;
  position: relative;
}

#btnNav {
  float: right;
  padding: 5px;
  margin-block: 10px;
  cursor: pointer;
}


/* --------- Index CSS --------- */

input[type="text"],
input[type="password"] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
}

.btnLogin {
  background-color: #faab19;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: solid 2px rgb(3, 3, 3);
  width: 15%;
  cursor: pointer;
  opacity: 0.75;
  transition: 1s;
  text-align: center;
  align-items: center;
}

.btnLogin:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
}
